{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Homepage</h1>
    {#{{ dump(dossiers) }}#}
    {#commentaires#}
    <ul>
        {% for dossier in dossiers %}
            <li>
                <a href="{{ path ("dossier", {"nomDuDossier": dossier.filename|url_encode}) }}">{{ dossier.filename }}</a>
                <a href="{{ path ("removeDir", {"dirName": dossier.filename|url_encode}) }}"><i class="fas fa-trash-alt"></i></a>
            </li>
        {% endfor %}
    </ul>

    {{ form(formulaire) }}

{% endblock %}
